.hero-unit {
    color: white;
    background-image: url("/images/headshot.png");
    background-position: right;
    @include media-query($on-palm) {
      background-position-x: -500px;
    }
    background-repeat: no-repeat;
    background-color: #2e2a27;
    min-height: 225px;
    .hero-about {
        width: 50%;
        padding: 10px;
        
        @include media-query($on-palm) {
          background-color: rgba(46, 42, 39, 0.8);
          background-position-x: -200px;
        }
    }
}