.service {
  padding: $spacing-unit;
  &.service-coaching {
    h2 { color: $secondary-color; }
  }
  &.service-consulting {
    h2 { color: $tertiary-color; }
  }
  border-bottom: 5px solid $grey-color-light;
  &:first-child {
    border-top: 5px solid $grey-color-light;
  }
}